.navbar{
    z-index: 1000;
    width: 100%;
    position: fixed;
    transition: all .3s ease-in-out;
}
.navbar.scrolled{
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.nav-logo img{
    height: 84px;
    width: 100%;
}
.menu-icon{
    color: #000;
    font-size:2rem;
    display: none;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    flex: 0.4;
    flex-direction: row;
    list-style-type: none
}
.nav-links{
    color: #555;
    width: fit-content;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
.nav-item:hover .nav-links{
    color: #000;
}

@media only screen and (max-width: 768px) {
    .navbar{
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    }
    .navbar-container{
        flex-wrap: wrap;
    }
    .menu-icon{
        display: block;
        z-index: 2;
    }
    .nav-menu{
        display: none;
        height: 100%;
        min-width: 100%;
        overflow: hidden;
        flex-direction: column;
    }
    .nav-menu.active{
        display: flex;
        justify-content: start;
        gap: 20px;
    }
    .nav-links{
        color: #000;
    }
}